body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d3d3d3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.brand-logo{
  margin-left: 10px;
}

form{
  padding:30px;
  margin:60px 20px 0px
}

.notelist{
  padding:10px;
  margin-top:30px
}

.note{
  padding:10px;
  margin-bottom: 20px;
}
.error-msg{
  padding: 10px;
  color: #842029;
    /* background-color: #f8d7da;
    border-color: #f5c2c7; */
    margin-bottom: 20px;
}
@media only screen and (max-width: 599px){
 
  .col{
    float: none !important;
    margin:auto
  }
}